

  
  body{
    background-image: url(../images/light-grey-terrazzo.png);
    text-align: center;
    padding: 10px;
    margin: 5px;
  }
  
  
  #title {
    background-color: orange;
    text-align: center;
    color: white;
    font-family:  "Brush Script MT", cursive;
    font-size: 24pt;
    height: 75px;
    padding: 20px;
  }
  
  #instructions {
    background-color: peachpuff;
    color: green; 
    font-family: Baskerville, "Baskerville Old Face";
    text-align: center;
    height: 200px;
    padding: 10px;
    border: 3px solid white;
  }
  
  #randomNumber {
    background-color: white;
    height: 150px;
    border: 3px solid rgb(58, 37, 247);
    
  }
    
#wins {
    background-color: rgb(159, 233, 99); 
    height: 70px;
    border: 3px solid white;
}

#losses {
  background-color: rgb(202, 202, 185); 
  height: 70px;
  border: 3px solid white;
}

#score {
background-color: white;
padding: 10px;
height: 150px;
color: blue;
border: 3px solid rgb(230, 166, 166);
}

.col-4 {
  /* padding: 4px;
  margin: 4px; */
}
.col-3 {
  padding: 20px;
}

.card {
  border: 3px solid tan;
}


.card-img-top {
  height: 120px;
}



